*.class
*.class
*.class
bin/*
/.metadata/
.classpath
random/.classpath
.project
deliberative/bin/
history.xml
logist/doc.zip
tournament/
logist/zipfstmp10498234246010485368.tmp
logist/zipfstmp10686240930694936694.tmp
